/**
 * @ Author: Gszs
 * @ Create Time: 2020-01-24 16:09:35
 * @ Modified by: Gszs
 * @ Modified time: 2020-01-24 18:19:23
 * @ Description: 图标的scss
 */

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}